<div class="container-fluid main-nav">

  <ul class="nav nav-pills my-navbar">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</div> <!-- End of 'container-fluid' div -->

<div class="container">
  <div class="col-md-4 col-md-offset-4 my-form">
    <form name="addUserForm" ng-submit="addUser(user)">
      <div class="form-group">
        <label for="exampleInputName1">Full name</label>
        <input type="text" class="form-control" ng-model="user.name" id="exampleInputName1" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" ng-model="user.email" id="exampleInputEmail1" placeholder="Email">
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
  </div> <!-- End of 'col-md-5' -->
</div> <!-- End of 'container' -->

<div class="container">
  <div class="col-md-8">
    <table class="table table-hover">
      <!-- Table data will go here -->
    </table>
  </div> <!-- End of 'col-md-5' -->
</div><!-- End of 'container' -->
